{% extends "base/base.html" %}
{% load staticfiles %}

{% block staticfile %}
<link rel="stylesheet" href="{% static 'css/material.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.minicolors.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.minicolors.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materials.js' %}"></script>
<script type="text/javascript">
    lang_code = {{ userlang.lang_code }};
    const lang = {
        ko:{
            yarn:"원사", name:"이름", code:"코드", maker:"메이커", thickness:"굴기", filament:"필라멘트", shrinkage:"수축률", material:"재료",
            kinds:"종류", weight:"무게(kg)", quantity:"수량", receiptdate:"입고일", delete:"삭제", productname:"품명", realquantity:"실수량",
            size:"크기", design:"디자인", stock:"재고", beam:"빔", greige:"생지", greigename:"생지품명", exportdate:"출고일", deliverydate:"출고예정일",
            shortyardage:"난단", length:"길이(Yard)", beamgreige:"빔 & 생지", roll:"롤", color:"색", yarndetail:"원사 상세정보", beamdetail:"빔 상세정보",
            greigedetail:"생지 상세정보", rolldetail:"롤 상세정보", add:'등록', close:"닫기"

        },
        en:{
            yarn:"yarn", name:"name", code:"code", maker:"maker", thickness:"thickness", filament:"filament", shrinkage:"shrinkage", material:"material",
            kinds:"spec", weight:"weight(kg)", quantity:"quantity", receiptdate:"Receipt date", delete:"Delete", productname:"Product name",
            realquantity:"Real quantity", size:"size", design:"Design", stock:"stock", beam:"beam", greige:"Greige", greigename:"Greige name",
            exportdate:"export date", deliverydate:"delivery date", shortyardage:"short yardage", length:"length(Yard)", beamgreige:"Beam & Greige", roll:"roll",
            color:"color", yarndetail:"Yarn detail", beamdetail:"Beam detail", greigedetail:"Greige detail", rolldetail:"Roll detail", add:"add", close:"close"
        }
    };
    // 언어별 렌더링
    function render(locale) {
        const $lang = document.querySelectorAll("[data-lang]");
        $lang.forEach(el => {
            const code = el.dataset.lang;
            el.textContent = lang[locale][code]
        })
    };
    if(lang_code==0){
        render("ko");
    };
    if(lang_code==1){
        render("en");
        $(".selectbtn2").css({width:105});
    };
</script>
{% endblock staticfile %}

{% block content %}
            <div id="ContentWrap">
                <ul>
                     <li class="selectbtn1" onclick="createDiplay1('materialsTop')" data-lang="yarn">[yarn]</li>
                     <li class="selectbtn2" onclick="createDiplay2('materialsBot')" data-lang="beamgreige">[beamgreige]</li>
                     <li class="selectbtn3" onclick="createDiplay3('rollFrame')" data-lang="roll">[roll]</li>
                </ul>

                <div id="materialsTop">
                    <div class="conTitle">
                        <h3 data-lang="yarn">[yarn]</h3>
                        <div class="searchBox">
                            <span onclick="createModal('yarn')">Add</span>
                            <span>Name</span>
                            <input type="text" class="yarnseach" placeholder="Search" id="searchYarn" name="searchYarn" onkeyup="searchYarn()">
                            <span onclick="delyarnsearch()">reset</span>
                        </div>
                    </div>
                    <div id="yarnTableBox">
                        <table>
                            <colgroup>
                                <col width="3%"> <!-- No. -->
                                <col width="13%"> <!-- 이름 -->
                                <col width="13%"> <!-- 코드 -->
                                <col width="8%"> <!-- 메이커 -->
                                <col width="6%"> <!-- 굵기 -->
                                <col width="5%"> <!-- 필라멘트 -->
                                <col width="5%"> <!-- 수축률 -->
                                <col width="7%"> <!-- 재료 -->
                                <col width="5%"> <!-- 종류 -->
                                <col width="6%"> <!-- RGB -->
                                <col width="6%"> <!-- LAB -->
                                <col width="6%"> <!-- 무게 -->
                                <col width="6%"> <!-- 수량 -->
                                <col width="5%"> <!-- 입고일 -->
                                <col width="6%"> <!-- 삭제 -->
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th data-lang="name">[name]</th>
                                    <th data-lang="code">[code]</th>
                                    <th data-lang="maker">maker</th>
                                    <th data-lang="thickness">[thickness]</th>
                                    <th data-lang="filament">[filament]</th>
                                    <th data-lang="shrinkage">[shrinkage]</th>
                                    <th data-lang="material">[material]</th>
                                    <th data-lang="kinds">[kinds]</th>
                                    <th>RGB</th>
                                    <th>LAB</th>
                                    <th data-lang="weight">[weight]</th>
                                    <th data-lang="quantity">[quantity]</th>
                                    <th data-lang="receiptdate">[receiptdate]</th>
                                    <th data-lang="delete">[delete]</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for yarn in yarnList %}
                                <tr class="yarnTr">
                                    <td>{{ forloop.counter0|add:1 }}</td>
                                    <td>{{ yarn.name }}</td>
                                    <td>{{ yarn.code }}</td>
                                    <td>{{ yarn.maker }}</td>
                                    <td>{{ yarn.count }}</td>
                                    <td>{{ yarn.filament }}</td>
                                    <td>{{ yarn.contraction }}%</td>
                                    <td>{{ yarn.material }}</td>
                                    <td>{{ yarn.kind }}</td>
                                    <td>{{ yarn.color }}</td>
                                    <td>{{ yarn.lab }}</td>
                                    <td>{{ yarn.weight }}</td>

                                    <td>{{ yarn.qty }}</td>
                                    <td>{{ yarn.Receivingdate}}</td>
                                    <td><span class='removeBtn' onclick='delYarnData("{{ yarn.id }}")'>Remove</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="materialsBot" class="fix">
                    <!-- Beam Table -->
                    <div>
                        <div class="conTitle">
                            <h3 data-lang="beam">[beam]</h3>
                            <div class="searchBox">
                                <span onclick="createModal('beam')">ADD</span>
                                <span>Name</span>
                                <input type="text" class="beamsearch" placeholder="Search" id="searchBeam" name="searchBeam" onkeyup="searchBeam()">
                                <span onclick="delbeamsearch()">reset</span>
                            </div>
                        </div>
                        <div id="beamTableBox">
                            <table>
                                <colgroup>
                                    <col width="10%"> <!-- No. -->
                                    <col width="20%"> <!-- 이름 -->
                                    <col width="15%"> <!-- 코드 -->
                                    <col width="15%"> <!-- 굵기 -->
                                    <col width="20%"> <!-- 필라멘트 -->
                                    <col width="20%"> <!-- 삭제 -->
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th data-lang="productname">[productname]</th>
                                        <th data-lang="yarn">[yarn]</th>
                                        <th data-lang="realquantity">[realquantity]</th>
                                        <th data-lang="size">[size]</th>
                                        <th data-lang="receiptdate">[receiptdate]</th>
                                        <th data-lang="delete">[delete]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for beam in beamList %}
                                    <tr class="beamTr">
                                        <td>{{ forloop.counter0|add:1 }}</td>
                                        <td>{{ beam.name }}</td>
                                        {% if beam.yarn == None %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ beam.yarn.name }}</td>
                                        {% endif %}
                                        <td>{{ beam.yarn_qty }}</td>
                                        <td>{{ beam.size }} inch</td>
                                        <td>{{ beam.Receivingdate}}</td>
                                        <td><span class='removeBtn' onclick='delBeamData("{{ beam.id }}")'>Remove</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Raw Table -->
                    <div>
                        <div class="conTitle">
                            <h3 data-lang="greige">[greige]</h3>
                            <div class="searchBox">
                                <span>Name</span>
                                <input type="text" class="rawsearch" placeholder="Search" id="searchRaw" name="searchRaw">
                                <span onclick="delrawsearch()">reset</span>
                            </div>
                        </div>
                        <div id="rawWrap" class="fix">
                            <div id="rawTableBox">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th data-lang="productname">[productname]</th>
                                            <th data-lang="design">[design]</th>
                                            <th data-lang="stock">[stock]</th>
                                            <th data-lang="receiptdate">[receiptdate]</th>
                                            <th data-lang="delete">[delete]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="designInfo">
                                <div id="designInfoTitle">Product Data</div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rollFrame">
                    <div class="conTitle">
                            <h3 data-lang="roll">[roll]</h3>
                            <div class="searchBox">
                                <span onclick="createModal('roll')">ADD</span>
                                <span>Name</span>
                                <input type="text" placeholder="Search" id="searchRaw" name="searchRaw">
                            </div>
                        </div>
                        <div>
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th data-lang="productname">[productname]</th>
                                            <th data-lang="greigename">[greigename]</th>
                                            <th data-lang="exportdate">[exportdate]</th>
                                            <th data-lang="receiptdate">[receiptdate]</th>
                                            <th data-lang="deliverydate">[deliverydate]</th>
                                            <th data-lang="quantity">[quantity]</th>
                                            <th data-lang="shortyardage">[shortyardage]</th>
                                            <th>정단</th>
                                            <th data-lang="length">[length]</th>
                                            <th data-lang="weight">[weight]</th>
                                            <th data-lang="delete">[delete]</th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                    {% for roll in rollList %}
                                        <tr>
                                            <td>{{ forloop.counter0|add:1 }}</td>
                                            <td>{{ roll.rollname }}</td>
                                            <td>{{ roll.rollfabricname }}</td>
                                            <td>{{ roll.rollfabricdate }}</td>
                                            <td>{{ roll.receivingdate }}</td>
                                            <td>{{ roll.rolloutdate }}</td>
                                            <td>{{ roll.rollcount }}</td>
                                            <td>{{ roll.rollfabricerror }}</td>
                                            <td>{{ roll.rollfabrictrue }}</td>
                                            <td>{{ roll.rollfabriclength }}</td>
                                            <td>{{ roll.rollfabricweight }}</td>
                                            <td><span class='removeBtn' onclick='delRollData("{{ roll.id }}")'>Remove</span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Yarn Modal -->
            <div id="yarnModal">
                <div class="modalTitle">
                    <h2 data-lang="yarndetail">[yarndetail]</h2>
                </div>
                <form action="/material/createYarn" method="POST" name="yarnForm" id="yarnForm">{% csrf_token %}
                <div class="yarnData fix">
                    <div>
                        <div class="line">
                            <label data-lang="name">[name]</label>
                            <input type="text" id="yarnName" name="yarnName">
                        </div>
                        <div class="line">
                            <label data-lang="code">[code]</label>
                            <input type="text" id="yarnCode" name="yarnCode">
                        </div>
                        <div class="line">
                            <label data-lang="maker">[maker]</label>
                            <input type="text" id="yarnMaker" name="yarnMaker">
                        </div>
                        <div class="line">
                            <label data-lang="thickness">[thickness]</label>
                            <input type="text" id="yarnCount" name="yarnCount">
                        </div>
                        <div class="line">
                            <label data-lang="filament">[filament]</label>
                            <input type="text" id="yarnFilament" name="yarnFilament">
                        </div>
                    </div>
                    <div>
                        <div class="line">
                            <label data-lang="shrinkage">[shrinkage]</label>
                            <input type="text" id="yarnContraction" name="yarnContraction">
                        </div>
                        <div class="line">
                            <label data-lang="material">[meterial]</label>
                            <input type="text" id="yarnMaterial" name="yarnMaterial">
                        </div>
                        <div class="line">
                            <label data-lang="kinds">[kinds]</label>
                            <input type="text" id="yarnKind" name="yarnKind">
                        </div>
                        <div class="line">
                            <label data-lang="color">[color]</label>
                            <!--
                            <input type="text" id="yarnColor" name="yarnColor">
                            -->
                            <input type="text" id="yarnColor" name="yarnColor" class="form-control" data-control="hue" value="#000">
                        </div>
                        <div class="line">
                            <label data-lang="weight">[weight]</label>
                            <input type="text" id="yarnWeight" name="yarnWeight">
                        </div>
                        <div class="line">
                            <label data-lang="quantity">[quantity]</label>
                            <input type="text" id="yarnQty" name="yarnQty">
                        </div>
                    </div>
                </div>
                <div class="createBtnBox">
                    <span class="createBtn" onclick="createYarn()" data-lang="add">[add]</span>
                    <span class="closeBtn" onclick="closeModal('yarn')" data-lang="close">[close]</span>
                </div>
                </form>
            </div>

            <!-- Beam Modal -->
            <div id="beamModal">
                <div class="modalTitle">
                    <h2 data-lang="beamdetail">[beamdetail]</h2>
                </div>
                <form action="/material/createBeam" method="POST" name="beamForm" id="beamForm">{% csrf_token %}
                <div class="beamData fix">
                    <div class="fix">
                        <div class="line">
                            <label data-lang="name">[name]</label>
                            <input type="text" id="beamName" name="beamName">
                        </div>
                        <div class="line">
                            <label data-lang="size">[size]</label>
                            <input type="text" id="beamSize" name="beamSize">
                        </div>
                    </div>
                </div>
                <div class="createBtnBox">
                    <span class="createBtn" onclick="createBeam()" data-lang="add">[add]</span>
                    <span class="closeBtn" onclick="closeModal('beam')" data-lang="close">[close]</span>
                </div>
                </form>
            </div>

            <div id="rollModal">
                <div class="modalTitle">
                    <h2 data-lang="rolldetail">[rolldetail]</h2>
                </div>
                <form action="/material/createroll" method="POST" name="rollForm" id="rollForm">{% csrf_token %}
                <div class="rollData fix">
                    <div class="fix">
                        <div class="line">
                            <label data-lang="productname">[productname]</label>
                            <input type="text" id="rollname" name="rollname">
                        </div>
                        <div class="line">
                            <label data-lang="greigename">[greigename]</label>
                            <input type="text" id="rollfabricname" name="rollfabricname">
                        </div>
                         <div class="line">
                            <label data-lang="receiptdate">[receiptdate]</label>
                            <input type="date" id="rollfabricdate" name="rollfabricdate">
                        </div>
                         <div class="line">
                            <label data-lang="deliverydate">[deliverydate]</label>
                            <input type="date" id="rolloutdate" name="rolloutdate">
                        </div>
                         <div class="line">
                            <label data-lang="quantity">[quantity]</label>
                            <input type="text" id="rollcount" name="rollcount">
                        </div>
                         <div class="line">
                            <label data-lang="shortyardage">[shortyardage]</label>
                            <input type="text" id="rollfabricerror" name="rollfabricerror">
                        </div>
                         <div class="line">
                            <label data-lang="length">[length]</label>
                            <input type="text" id="rollfabriclength" name="rollfabriclength">
                        </div>
                         <div class="line">
                            <label data-lang="weight">[weight]</label>
                            <input type="text" id="rollfabricweight" name="rollfabricweight">
                        </div>
                    </div>
                    <div class="createBtnBox">
                        <span class="createBtn" onclick="createRoll()" data-lang="add">[add]</span>
                        <span class="closeBtn" onclick="closeModal('roll')" data-lang="close">[close]</span>
                    </div>

                </div>
                </form>
            </div>

            <script>

            $(document).ready( function() {
                $('#yarnColor').minicolors();
            });

            </script>
{% endblock content %}