{% extends "base/base.html" %}
{% load staticfiles %}

{% block staticfile %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <script type="text/javascript" src="{% static 'js/selectbox.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript">
        lang_code = {{ userlang.lang_code }};
        const lang = {
            ko:{
                company:"사업장", customer:"거래처", pic:"담당자", orderdate:"오더일자", ordertype:"오더구분", sample:"샘플", main:"메인",
                classification:"내외구분", domesticdemand:"내수", foreigndemand:"외수", PIC:"담당자", specificationontransaction:"거래명세표",
                progress:"진행상황", duedate:"납기일자", register:"등록", designregister:"디자인 등록", carsoo:"차수", progressing:"진행 중",
                waiting:"대기", end:"종료", orderdetail:"오더 상세보기", simulationimage:"시뮬레이션 이미지", suborder:"서브 오더", quantity:"수량",
                save:"저장", delete:"삭제", close:"닫기", designname:"디자인명", ordercode:"오더 코드"

            },
            en:{
                company:"Company", customer:"Customer", pic:"PIC", orderdate:"Order date", ordertype:"Order type", sample:"sample", main:"main",
                classification:"Classification", domesticdemand:"domestic demand", foreigndemand:"foreign demand", carsoo:"차수",
                specificationontransaction:"specification on transaction", progress:"progress", duedate:"Due date", register:"Register",
                designregister:"Design register", progressing:"Progressing", waiting:"Waiting", end:"End",orderdetail:"Order detail",
                simulationimage:"simulation image", suborder:"sub order", quantity:"quantity", save:"save", delete:"delete", close:"close",
                designname:"Design name", ordercode:"Order code"
            }
        };
        // 언어별 렌더링
        function render(locale) {
            const $lang = document.querySelectorAll("[data-lang]");
            $lang.forEach(el => {
                const code = el.dataset.lang;
                el.textContent = lang[locale][code]
            })
        };
        if(lang_code==0){
            render("ko");
        };
        if(lang_code==1){
            render("en");

        };
    </script>
    <script type="text/javascript">
        var os = null;

        window.onload = function(){
            var designCount = {{ designCount }};
            var orderCount = {{ orderCount }};
            var platform = window.navigator.platform;

            $("input:text[numberOnly]").on("keyup", function() {
                $(this).val($(this).val().replace(/[^0-9]/g,""));
            });

            var macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'];

            if (macosPlatforms.indexOf(platform) !== -1) {
                os = 'Mac OS';
            }


            if(designCount > 13 && os != 'Mac OS'){
                $('#designListTable td:last-child').css('width', '105px');
            }

            if(orderCount > 13 && os != 'Mac OS'){
                $('#orderListWrap td:last-child').css('width', '77px');
            }

            document.getElementById('order_date').valueAsDate = new Date();
            $('#designListTable>tbody>tr').eq(0).trigger('click');
        };

    </script>
    <script type="text/javascript" src="{% static 'js/order.js' %}"></script>
{% endblock staticfile %}

{% block content %}
    <div id="orderContentWrap" class="fix">
        <div id="orderLeft">
            <h3>Order</h3>
            <form action="/order/" method="POST" name="orderForm" id="orderForm">{% csrf_token %}
                <div id="orderLeftTop" class="fix">
                    <div id="orderSheetLeft">
                        <div>
                            <span data-lang="company">[company]</span>
                            <input type="text" id="company" name="company" value="{{ company }}">
                        </div>
                        <div>
                            <span data-lang="customer">[customer]</span>
                            <select name="buyer" id="buyer" class="justselect">
                                {% for account in accountList %}
                                    <option value="{{ account.accountname }}">{{ account.accountname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <span data-lang="pic">[pic]</span>
                            <input type="text" value="{{ user.username }}" disabled name="username" id="username">
                        </div>
                        <div>
                            <span data-lang="orderdate">[orderdate]</span>
                            <input type="date" id="order_date" disabled name="order_date">
                        </div>
                    </div>
                    <div id="orderSheetRight">
                        <div class="margin_exempt">
                            <span data-lang="ordertype">[ordertype]</span>
                            <select name="order_type" id="order_type" class="justselect">
                                <option value="0" data-lang="sample">[sample]</option>
                                <option value="1" data-lang="main">[main]</option>
                            </select>
                        </div>
                        <div class="margin_exempt">
                            <span data-lang="classification">[classification]</span>
                            <select name="order_inout" id="order_inout" class="justselect">
                                <option value="0" data-lang="domesticdemand">[domesticdemand]</option>
                                <option value="1" data-lang="foreigndemand">[foreigndemand]</option>
                            </select>
                        </div>
                        <div>
                            <span data-lang="carsoo">[carsoo]</span>
                            <input type="text" id="order_round" name="order_round" value="1">
                        </div>
                        <div>
                            <span data-lang="duedate">[duedate]</span>
                            <input type="date" id="due_date" name="due_date">
                        </div>
                    </div>
                    <div id="designOrder">
                        <div>
                            <table id="designOrderTable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Order Yard</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="orderBtnWrap">
                        <div>
                            <span class="btnSpan" onclick="createOrder()" data-lang="register">[register]</span>
                        </div>
                    </div>
                </div>
            </form>
            <div id="orderListWrap">
                <h3>Order List</h3>
                <div>
                    <table id="order_table">
                        <thead>
                        <tr>
                            <th data-lang="ordercode">[ordercode]</th>
                            <th data-lang="customer">[customer]</th>
                            <th data-lang="ordertype">[ordertype]</th>
                            <th data-lang="progress">[progress]</th>
                            <th data-lang="orderdate">[orderdate]</th>
                            <th data-lang="specificationontransaction">[specificationontransaction]</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orderList %}
                            <tr>
                                <td>{{ order.code }}</td>
                                <td>{{ order.buyer }}</td>
                                <!-- if문 -->
                                {% if order.type == 0 %}
                                    <td data-lang="sample">[sample]</td>
                                {% else %}
                                    <td data-lang="main">[main]</td>
                                {% endif %}
                                {% if order.state == 0 %}
                                    <td data-lang="waiting">[waiting]</td>
                                {% elif order.state == 1 %}
                                    <td data-lang="progressing">[progressing]</td>
                                {% else %}
                                    <td data-lang="end">[end]</td>
                                {% endif %}
                                <td>{{ order.order_date|date:"Y-m-d" }}</td>
                                <td><div class="order_btn"><span onclick="openRawRoll({{ order.id }})" data-lang="specificationontransaction">[specificationontransaction]</span></div></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="style_order">
                        <thead>
                        <tr>
                            <th>요청 번호</th>
                            <th>원단 코드</th>
                            <th>의류 생산 업체</th>
                            <th>원단 버전</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for style_list in style_order %}
                            <tr>
                                <td>{{ forloop.counter0|add:1 }}</td>
                                <td>{{ style_list.style_key }}</td>
                                <td>{{ style_list.factory_name }}</td>
                                <td>{{ style_list.style_ver }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Left Top End -->

        <div id="designListWrap" class="fix">
            <h3>Design</h3>
            <div id="designSearchBox">
                <span>Name</span>
                <input type="text" placeholder="Search" onkeyup="searchDesign()">
            </div>
            <div id="designListMid">
                <table id="designListTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Create Date</th>
                        <th>Materials</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for designObj in designDataList %}
                        <tr onclick="setDesignData({{designObj.CAD_Design_Data_id}})" id="designData{{designObj.CAD_Design_Data_id}}" class="designDataTr">
                            <td>{{designObj.CAD_Design_Data_name}}</td>
                            <td>{{designObj.CAD_Design_Data_create_date|date:"Y-m-d"}}</td>
                            <td>{{designObj.CAD_Design_Data_create_date|date:"Y-m-d"}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="designListTop">
                <div id="designTopInfo">
                    <span>Name</span>
                    <input type="text" disabled>
                    <span>Date</span>
                    <input type="text" disabled>
                </div>
            </div>
            <div id="designBottom">
                <div class="fix">
                    <div id="designImgBox">
                        <img src="{% static 'image/simulation_img.jpg' %}" width="200px">
                    </div>
                    <div id="designInfo">
                        <h5>Product Data</h5>
                        <p>WPI : 28w/inch</p>
                        <p>CPC : 20c/cm</p>
                        <p>Width : 400inch</p>
                    </div>
                </div>
                <div id="designSubmitBox">
                    <span onclick="addDesignData()" data-lang="designregister">[designregister]</span>
                </div>
            </div>
        </div>
    </div>

    <form action="/order/modify" method="POST" name="modifyOrderForm" id="modifyOrderForm">{% csrf_token %}
        <div id="detailOrderModal">
            <div>
                <h3 data-lang="orderdetail">[orderdetail]</h3>
            </div>
            <div class="inputTab fix">
                <div>
                    <div class="line">
                        <label for="detailCompany" data-lang="company">[company]</label>
                        <input type="text" disabled id="detailCompany" name="detailCompany">
                    </div>
                    <div class="line">
                        <label for="detailBuyer" data-lang="customer">[customer]</label>
                        <input type="text" id="detailBuyer" name="detailBuyer">
                    </div>
                    <div class="line">
                        <label for="detailManager" data-lang="pic">[pic]</label>
                        <input type="text" id="detailManager" name="detailManager">
                    </div>
                    <div class="line">
                        <label for="detailOrderDate" data-lang="orderdate">[orderdate]</label>
                        <input type="date" id="detailOrderDate" name="detailOrderDate">
                    </div>

                </div>
                <div>
                    <div class="line margin_exempt">
                        <label for="detailOrderType" data-lang="ordertype">[ordertype]</label>
                        <select name="detailOrderType" id="detailOrderType" class="justselect2">

                        </select>
                    </div>
                    <div class="line margin_exempt">
                        <label for="detailOrderInout" data-lang="classification">[classification]</label>
                        <select name="detailOrderInout" id="detailOrderInout" class="justselect2">

                        </select>
                    </div>
                    <div class="line">
                        <label for="detailRound" data-lang="carsoo">[carsoo]</label>
                        <input type="text" id="detailRound" name="detailRound">
                    </div>
                    <div class="line">
                        <label for="detailDueDate" data-lang="duedate">[duedate]</label>
                        <input type="date" id="detailDueDate" name="detailDueDate">
                    </div>
                </div>
                <div class="orderDesignDetail">
                    <div class="fix">
                        <div id="subDesignImgBox">
                            <label class="subLabel" data-lang="simulationimage">[simulationimage]</label>
                            <span><img src="{% static 'image/simulation_img.jpg' %}" width="200px"></span>
                        </div>
                        <div id="subDesignInfo">
                            <div id="subOrderWrap" class="subLine">
                                <label class="subLabel" for="subOrderCode" data-lang="suborder">[suborder]</label>
                                <select name='subOrderCode' id='subOrderCode' class='justselect2'>
                                </select>
                            </div>
                            <div class="subLine">
                                <label class="subLabel" for="subDesign" data-lang="designname">[designname]</label>
                                <input type="text" disabled id="subDesign" name="subDesign">
                            </div>
                            <div class="subLine lastSubLine">
                                <label for="subDesignQty" class="subLabel" data-lang="quantity">[quantity]</label>
                                <input type="text" id="subDesignQty" name="subDesignQty">
                            </div>

                            <input type="hidden" id="oid" name="oid">

                            <!--
                            <div class="subLine subLine_exempt">
                                <label class="subLabel">WPI</label>
                                <input type="text">
                            </div>
                            <div class="subLine">
                                <label class="subLabel">CPC</label>
                                <input type="text">
                            </div>
                            <div class="subLine">
                                <label class="subLabel">Width</label>
                                <input type="text">
                            </div>
                            -->
                        </div>
                        <div id="subModalBtnBox">
                            <span onclick="modifyOrder()" data-lang="save">[save]</span>
                            <span onclick="deleteOrder()" data-lang="delete">[delete]</span>
                            <span onclick="closeModal()" data-lang="close">[close]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>


        $('#orderListWrap tr').on('dblclick', function(){
            $('#orderListWrap tr').removeClass('listSelected');
            $(this).addClass('listSelected');
            var oid = $(this).find('.orderId').text();
            $.ajax({
                url: '/order/detail/'+oid,
                type: 'POST',
                cache: false,
                //data: {},
                dataType: 'json',
                async: false,
                success: function (res) {
                    $('#mask').css('display','block');
                    $('#detailOrderModal').css('display','block');
                    $('#detailSubOrder').empty();
                    $('#detailCompany').val(res.order.company);
                    $('#detailCode').val(res.order.code);
                    $('#detailBuyer').val(res.order.buyer);
                    $('#detailManager').val(res.order.Manager);
                    $('#detailOrderDate').val(res.order.order_date);
                    $('#detailDueDate').val(res.order.due_date);
                    $('#detailRound').val(res.order.order_round);
                    $('#detailManager').val(res.order.manager);
                    $('#oid').val(oid);
                    console.log(res);

                    var orderType = "";
                    if(res.order.type == 0){
                        orderType += "<option value='0'>샘플</option><option value='1'>메인</option>";
                    }else{
                        orderType += "<option value='1'>메인</option><option value='0'>샘플</option>";
                    }

                    var orderInout = "";
                    if(res.order.order_inout == 0){
                        orderInout += "<option value='0'>내수</option><option value='1'>외수</option>";
                    }else{
                        orderInout += "<option value='1'>외수</option><option value='0'>내수</option>";
                    }

                    $('#detailOrderType').append(orderType);
                    $('#detailOrderInout').append(orderInout);
                    var subOrder = "";
                    for (var i = 0; i < res.order.subOrder.length; i++){
                        subOrder += "<option value='"+i+"'>"+res.order.subOrder[i].code+"</option>";
                    }
                    $('#subDesign').val(res.order.subOrder[0].design_data.CAD_Design_Data_name);
                    $('#subOrderCode').append(subOrder);
                    /* $('#subDesignImgBox').find('span').css('background-image','url("'+res.order.subOrder[0].design_data.CAD_Design_Data_simulation_image+'")') */
                    $('#subDesignImgBox').find('img').attr('src', res.order.subOrder[0].design_data.CAD_Design_Data_simulation_image);
                    $('#subDesignQty').val(res.order.subOrder[0].design_qty);

                    /* selectBox Design Function */
                    createSelectBox2();
                },
                error: function () {

                }
            })
        });

        $(document).on('click', '#subOrderWrap .selectbox__option2', function(){
            oid = $('').val();
            subOrderName = $(this).text();
            $.ajax({
                url:'/order/detail/'+oid,
                cache:false,
                //data:{},
                dataType:'json',
                async: false,
                success: function(res){
                    for (var i = 0; i < res.order.subOrder.length; i++){
                        if(res.order.subOrder[i].code == subOrderName){
                            $('#subDesignImgBox').find('img').attr('src', res.order.subOrder[i].design_data.CAD_Design_Data_simulation_image);
                            $('#subDesign').val(res.order.subOrder[i].design_data.CAD_Design_Data_name);
                            $('#subDesignQty').val(res.order.subOrder[i].design_qty);
                        }
                    }
                },
                error: function(e){
                    console.log(e)
                }
            });
        });

        function closeModal(){
            $('#detailOrderModal').css('display','none');
            $('#mask').css('display','none');
            $('.justselect2').empty();
            $('.selectbox2').remove();
            $('.listSelected').removeClass('listSelected');
            window.location.reload(true,0);
        };

        /*  window.open('/order/warpWorkSheet', 'WorkSheet', 'width=900, height=800') */

    </script>
{% endblock content %}