{% extends "base/base.html" %}
{% load staticfiles %}

{% block staticfile %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
<link rel="stylesheet" href="{% static 'css/simple-calendar.css' %}">
<script>
lang_code = {{ userlang.lang_code }};
    const lang = {
        ko:{
            warper:"정경기", warpknittingmachine:"경편기", selectorder:"order를 선택하세요", name:"이름", code:"코드",
            maker:"메이커", thickness:"굵기", filament:"필라멘트", shrinkage:"수축률", material:"재료", spec:"종류",
            color:"색", weight:"중량", quantity:"수량", realquantity:"실수량", yarn:"실", rollcode:"롤코드",
            wrappedquantity:"감긴량", schedulesave:"스케쥴저장", warperdetail:"정경기상세보기", pic:"작업자",
            company:"회사", installationtime:"설치시간", warpknittingmachinedetail:"경편기상세보기", beamcount:"빔개수",
            tempo:"템포", barcount:"바개수", gauge:"게이지", size:"크기", close:"닫기"

        },
        en:{
            warper:"Warper", warpknittingmachine:"Warp knitting machine", selectorder:"Select order", name:"Name",
            code:"Code",maker:"Maker", thickness: "Thickness", filament:"Filament", shrinkage:"Shrinkage",
            material:"Material", spec:"Spec", color:"Color", weight:"Weight", quantity:"Quantity",
            realquantity:"Real quantity", yarn:"Yarn", rollcode:"Roll code", wrappedquantity:"Wrapped quantity",
            schedulesave:"Schedule save", warperdetail:"Warper detail", pic:"PIC", company:"Company",
            installationtime:"Installation time", warpknittingmachinedetail:"Warp knitting machine detail",
            beamcount:"Beam count", tempo:"Tempo", barcount:"Bar count", gauge:"Gauge", size:"size", close:"close"
        }
    };
    // 언어별 렌더링
    function render(locale) {
        const $lang = document.querySelectorAll("[data-lang]");
        $lang.forEach(el => {
            const code = el.dataset.lang;
            el.textContent = lang[locale][code]
        })
    };
    if(lang_code==0){
        render("ko");
    };
    if(lang_code==1){
        render("en");
        $("#rawTable tr > th:nth-child(3)").css({width:180});
        $("#rawTable tr > th:nth-child(1)").css({width:90});
        $("#rawTable tr > td:nth-child(3)").css({width:240});
        $("#rawTable tr > td:nth-child(1)").css({width:107});
        $("#rawTable tr > td:nth-child(2)").css({width:103});
    };
    var machineType;
    if('{{ machine }}' == 'False')
        machineType = 2;
    else
        machineType = 1;

    $(document).ready(function() {
        var platform = window.navigator.platform;
        var os;
        var macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'];
        var orderCount = '{{ designOrderCount }}';

        if (macosPlatforms.indexOf(platform) !== -1) {
            os = 'Mac OS';
        }

        $('#calendar').simpleCalendar({
            fixedStartDay: false
        });

        if(orderCount > 12 && os != 'Mac OS'){
            $('#orderDesign tr > td:nth-child(5)').css('width', '77px');
        }
    });

    function selectOrder(orderId, machineType) {
        $('.orderTr').removeClass('selected');
        var selectedOrderTr = '#order' + orderId;
        $(selectedOrderTr).addClass('selected');
        $('#orderId').val(orderId);
        $('#orderName').val($(selectedOrderTr + '>td:nth-child(1)').html());
        $.ajax({
            url:'/schedule/selectOrder',
            type: 'POST',
            cache:false,
            data:{'orderId': orderId, 'type': machineType},
            dataType:'json',
            async: false,
            success: function(res){
                console.log(res);
                res.machineJsonList.trs.forEach(function (trsObj) {
                    var trsCode = '#knitMachineOutput' + trsObj.id;
                    $(trsCode).text(trsObj.dailyOutPut + 'yard');
                });

                $('#yarnTable > tbody').empty();

                res.yarnList.forEach(function (obj) {
                    console.log(obj);
                    var tr = document.createElement('tr');

                    if(res.yarnList.length > 3 && os != 'Mac OS')
                        tr.className = 'yarnOver';

                    var td = document.createElement('td');
                    td.innerHTML = obj.name;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.code;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.maker;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.count;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.filament;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.contraction;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.material;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.kind;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.color;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.weight;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.qty;
                    tr.append(td);

                    $('#yarnTable > tbody').append(tr);
                });


                $('#beamTable tbody').empty();

                res.beamList.forEach(function (obj) {
                    console.log(obj);
                    var tr = document.createElement('tr');

                    if(res.beamList.length > 3 && os != 'Mac OS')
                        tr.className = 'beamOver';

                    var td = document.createElement('td');

                    td.innerHTML = obj.name;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.yarnName;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.yarn_qty;
                    tr.append(td);

                    td = document.createElement('td');
                    td.innerHTML = obj.size;
                    tr.append(td);

                    $('#beamTable tbody').append(tr);
                });
            },
            error: function(e){
                console.log(e)
            }
        });
    }

    function showWarpMachineInfo(id, type) {
        console.log(id);
        $('#mask').css('display', 'block');
        $('#detailOrderModalWarp').css('display', 'block');
        event.stopPropagation();

        $.ajax({
            url: '/machine/getWarpInfoByJson',
            type: 'POST',
            cache: false,
            data: {'id': id, 'type': type},
            dataType: 'json',
            async: false,
            success: function (res) {
                if(type==1) {
                    console.log(res);
                    $('#warpName').html(res.tws_name);
                    $('#warpUser').html(res.user_id);
                    $('#warpInstallationTime').html(res.tws_installation_time);
                    $('#warpCode').html(res.tns_code);
                    $('#warpCompany').html(res.company_code);
                    $('#warpIp').html(res.tws_ip);
                }else{
                    console.log(res);
                    $('#warpName').html(res.name);
                    $('#warpUser').html('');
                    $('#warpInstallationTime').html(res.create_date);
                    $('#warpCode').html(res.code);
                    $('#warpCompany').html(res.company_id);
                    $('#warpIp').html('');
                }
            },
            error: function (e) {
                console.log(e)
            }
        });
    }

    function showKnitMachineInfo(id, type) {
        console.log(id);
        $('#mask').css('display', 'block');
        $('#detailOrderModalKnit').css('display', 'block');
        event.stopPropagation();

        $.ajax({
            url:'/machine/getKnitInfoByJson',
            type: 'POST',
            cache:false,
            data:{'id': id, 'type': type},
            dataType:'json',
            async: false,
            success: function(res){
                console.log(res);
                if(type == 1) {
                    $('#knitName').html(res.trs_model_name);
                    $('#knitCompany').html(res.company_code);
                    $('#knitInstallationTime').html(res.trs_installation_time);
                    $('#knitBeamCount').html(res.trs_beam_cnt);
                    $('#knitEacEnable').html(res.trs_eac_enable);
                    $('#knitLowmotorEnable').html(res.trs_lowmotor_enable);
                    $('#knitCode').html(res.tns_code);
                    $('#knitUser').html(res.user_id);
                    $('#knitTempo').html(res.trs_tempo);
                    $('#knitBarCount').html(res.trs_bar_cnt);
                    $('#knitGauge').html(res.trs_gauge);
                    $('#knitIp').html(res.trs_ip);
                }else{
                    $('#knitName').html(res.name);
                    $('#knitCompany').html(res.company_id);
                    $('#knitInstallationTime').html(res.create_data);
                    $('#knitBeamCount').html('');
                    $('#knitEacEnable').html('');
                    $('#knitLowmotorEnable').html('');
                    $('#knitCode').html(res.code);
                    $('#knitUser').html(res.user_id);
                    $('#knitTempo').html('');
                    $('#knitBarCount').html(res.bar_cnt);
                    $('#knitGauge').html(res.gauge);
                    $('#knitIp').html('');
                }
            },
            error: function(e){
                console.log(e)
            }
        });
    }

    function selectMachine(type, id, machine) {
        if(type == 1){
            $('.warpMachine').removeClass('selected');
            $('#warpMachine' + id).addClass('selected');
            $('#warpMachineId').val(id);
            $('#warpMachineName').val($('#warpMachineName' + id).html());

        }else{
            $('.knitMachine').removeClass('selected');
            $('#knitMachine' + id).addClass('selected');
            $('#knitMachineId').val(id);
            $('#knitMachineName').val($('#knitMachineName' + id).html());
        }
    }

    function closeModal(){
       $('#detailOrderModalKnit').css('display','none');
       $('#mask').css('display','none');

    }

    function closeModal1(){
       $('#detailOrderModalWarp').css('display','none');
       $('#mask').css('display','none');
       location.reload()
    }
/*
    function showYarnInfo(id) {
        console.log(id);
        $.ajax({
            url:'/material/getYarnInfoByJson',
            type: 'POST',
            cache:false,
            data:{'id': id},
            dataType:'json',
            async: false,
            success: function(res){
                $('#yarnName').html(res.name);
                $('#yarnCode').html(res.code);
                $('#yarnQty').html(res.qty);
                $('#yarnMaker').html(res.maker);
                $('#yarnCount').html(res.count);
                $('#yarnFilament').html(res.filament);
                $('#yarnContraction').html(res.contraction);
                $('#yarnMaterial').html(res.material);
                $('#yarnKind').html(res.kind);
                $('#yarnColor').html(res.color);
            },
            error: function(e){
                console.log(e)
            }
        });
        $('#detailOrderModalWarp').css('display','block');
        $('#mask').css('display','block');
    }
*/
</script>
<script type="text/javascript" src="{% static 'js/jquery.simple-calendar.js' %}"></script>
{% endblock staticfile %}

{% block content %}
<div id="ContentWrap" class="fix">
    <div>
        <h4>Calendar</h4>
        <div class="calendarMachine">
            <div id="calendar"></div>
            <hr>
            <h4>Machine Schedule</h4>
            <div id="machineSchedule">
                <div id="warpMachineSchedule">
                    <div>
                        <h4 data-lang="warper">[warper]</h4>
                        <div>

                        </div>
                    </div>
                </div>
                <div class="division"></div>
                <div id="knitMachineSchedule">
                    <div>
                        <h4 data-lang="warpknittingmachine">[warpknittingmachine]</h4>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4>Schedule</h4>
        <input type="hidden" id="calendarlang" name="calendarlang" value="{{ userlang.lang_code }}">
        <div class="orderMaterial">
            <div id="orderDesign">
                <div class="scheduleOrder">
                    <h4>Order</h4>
                    <div class="order">
                        <table>
                            <col width="26%">
                            <col width="20%">
                            <col width="14%">
                            <col width="20%">
                            <col width="20%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Design</th>
                                    <th>Manager</th>
                                    <th>Order Date</th>
                                    <th>Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in designOrderList %}
                                    {% if machine %}
                                        <tr class="orderTr" onclick="selectOrder({{ order.id }}, 1)" id="order{{ order.id }}">
                                            <td>{{ order.code }}</td>
                                            <td>{{ order.design_data_id.CAD_Design_Data_name }}</td>
                                            <td>{{ order.order_id.manager.name }}</td>
                                            <td>{{ order.order_id.order_date|date:"Y-m-d" }}</td>
                                            <td>{{ order.order_id.due_date|date:"Y-m-d" }}</td>
                                        </tr>
                                    {% else %}
                                        <tr class="orderTr" onclick="selectOrder({{ order.id }}, 2)" id="order{{ order.id }}">
                                            <td>{{ order.code }}</td>
                                            <td>{{ order.design_data_id.CAD_Design_Data_name }}</td>
                                            <td>{{ order.order_id.manager.name }}</td>
                                            <td>{{ order.order_id.order_date|date:"Y-m-d" }}</td>
                                            <td>{{ order.order_id.due_date|date:"Y-m-d" }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="machine">
                    <div class="warpMachineList">
                        <h4 data-lang="warper">[warper]</h4>
                        <div>
                            {% for warpMachineObj in warpMachineList %}
                                {% if machine %}
                                    <div class="warpMachine" id="warpMachine{{ warpMachineObj.id }}" onclick="selectMachine(1, {{ warpMachineObj.id }})">
                                        <div>
                                            <div id="warpMachineName{{ warpMachineObj.id }}">{{ warpMachineObj.tns_code }}</div>
                                            <img class="infoBtn" onclick="showWarpMachineInfo('{{ warpMachineObj.pk }}', 1)" src="{% static 'image/information.png' %}">
                                        </div>
                                        <div><div>{{ warpMachineObj.tws_name }}</div></div>
                                        <div><div id="warpMachine{{ warpMachineObj.tns_code }}"><lang data-lang="selectorder">[selectorder]</lang></div></div>
                                    </div>
                                {% else %}
                                    <div class="warpMachine" id="warpMachine{{ warpMachineObj.pk }}" onclick="selectMachine(1, {{ warpMachineObj.pk }})">
                                        <div>
                                            <div id="warpMachineName{{ warpMachineObj.pk }}">{{ warpMachineObj.code }}</div>
                                            <img class="infoBtn" onclick="showWarpMachineInfo('{{ warpMachineObj.pk }}', 2)" src="{% static 'image/information.png' %}">
                                        </div>
                                        <div><div>{{ warpMachineObj.name }}</div></div>
                                        <div><div id="warpMachine{{ warpMachineObj.code }}"><lang data-lang="selectorder">[selectorder]</lang></div></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="division"></div>
                    <div class="knitMachineList">
                        <h4 data-lang="warpknittingmachine">[warpknittingmachine]</h4>
                        <div>
                            {% for knitMachineObj in knitMachineList %}
                                {% if machine %}
                                    <div class="knitMachine" id="knitMachine{{ knitMachineObj.id }}" onclick="selectMachine(2, {{ knitMachineObj.id }})">
                                        <div>
                                            <div id="knitMachineName{{ knitMachineObj.id }}">{{ knitMachineObj.tns_code }}</div>
                                            <img class="infoBtn" onclick="showKnitMachineInfo('{{ knitMachineObj.pk }}', 1)" src="{% static 'image/information.png' %}">
                                        </div>
                                        <div><div>{{ knitMachineObj.trs_model_name }}</div></div>
                                        <div><div id="knitMachineOutput{{ knitMachineObj.pk }}"><lang data-lang="selectorder">[selectorder]</lang></div></div>
                                    </div>
                                {% else %}
                                    <div class="knitMachine" id="knitMachine{{ knitMachineObj.pk }}" onclick="selectMachine(2, {{ knitMachineObj.pk }})">
                                        <div>
                                            <div id="knitMachineName{{ knitMachineObj.pk }}">{{ knitMachineObj.code }}</div>
                                            <img class="infoBtn" onclick="showKnitMachineInfo('{{ knitMachineObj.pk }}', 2)" src="{% static 'image/information.png' %}">
                                        </div>
                                        <div><div>{{ knitMachineObj.name }}</div></div>
                                        <div><div id="knitMachineOutput{{ knitMachineObj.pk }}"><lang data-lang="selectorder">[selectorder]</lang></div></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div id="materialDiv">
                <div id="yarnDiv">
                    <div>Yarn</div>
                    <div id="yarnTableDIv">
                        <table id="yarnTable">
                              <colgroup>
                                    <col width="11%"> <!-- 이름 -->
                                    <col width="11%"> <!-- 코드 -->
                                    <col width="11%"> <!-- 메이커 -->
                                    <col width="9%"> <!-- 굵기 -->
                                    <col width="9%"> <!-- 필라멘트 -->
                                    <col width="9%"> <!-- 수축률 -->
                                    <col width="8%"> <!-- 재료 -->
                                    <col width="8%"> <!-- 종류 -->
                                    <col width="7%"> <!-- 색 -->
                                    <col width="10%"> <!-- 중량 -->
                                    <col width="7%"> <!-- 수량 -->
                              </colgroup>
                            <thead>
                                <tr>
                                    <th data-lang="name">[name]</th>
                                    <th data-lang="code">[code]</th>
                                    <th data-lang="maker">[maker]</th>
                                    <th data-lang="thickness">[thickness]</th>
                                    <th data-lang="filament">[filament]</th>
                                    <th data-lang="shrinkage">[shrinkage]</th>
                                    <th data-lang="material">[material]</th>
                                    <th data-lang="spec">[spec]</th>
                                    <th data-lang="color">[color]</th>
                                    <th data-lang="weight">[weight]</th>
                                    <th data-lang="quantity">[quantity]</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--{% for yarn in yarnList %}
                                <tr class="yarnOver">
                                    <td>{{ yarn.name }}</td>
                                    <td>{{ yarn.code }}</td>
                                    <td>{{ yarn.maker }}</td>
                                    <td>{{ yarn.count }}</td>
                                    <td>{{ yarn.filament }}</td>
                                    <td>{{ yarn.contraction }}</td>
                                    <td>{{ yarn.material }}</td>
                                    <td>{{ yarn.kind }}</td>
                                    <td>{{ yarn.color }}</td>
                                    <td>{{ yarn.lab }}</td>
                                    <td>{{ yarn.qty }}</td>
                                </tr>
                            {% endfor %}
                            -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="beamRawDiv">
                    <div>Beam</div>
                    <div id="beamTableDiv">
                            <table id="beamTable">
                                <colgroup>
                                    <col width="30%"> <!-- 이름 -->
                                    <col width="30%"> <!-- 코드 -->
                                    <col width="20%"> <!-- 굵기 -->
                                    <col width="20%"> <!-- 필라멘트 -->
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th data-lang="name">[name]</th>
                                        <th data-lang="yarn">[yarn]</th>
                                        <th data-lang="realquantity">[realquantity]</th>
                                        <th data-lang="size">[size]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div>Raw</div>
                    <div id="rawTableDiv">
                        <table id="rawTable">
                            <thead>
                                <tr>
                                    <th data-lang="rollcode">[rollcode]</th>
                                    <th data-lang="weight">[weight]</th>
                                    <th data-lang="wrappedquantity">[wrappedquantity]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <form method="post" action="/schedule/createSchedule">
                {% if machine == True %}
                    <input type="hidden" name="machine" value="1">
                {% else %}
                    <input type="hidden" name="machine" value="2">
                {% endif %}
                <div class="createScheduleForm">
                    <div>Order</div>
                    <div><input type="text" id="orderName" disabled><input type="hidden" name="orderId" id="orderId"> </div>
                    <div>Warping</div>
                    <div>
                        <div>
                            <input type="text" id="warpMachineName" disabled><input type="hidden" id="warpMachineId" name="warpMachineId">
                        </div>
                        <div>
                            <input type="datetime-local" id="warpStartTime" name="warpStartTime">
                        </div>
                        <div>
                            <input type="datetime-local" id="warpEndTime" name="warpEndTime">
                        </div>
                    </div>
                    <div>
                        Knitting
                    </div>
                    <div>
                        <div>
                            <input type="text" id="knitMachineName" disabled><input type="hidden" id="knitMachineId" name="knitMachineId">
                        </div>
                        <div>
                            <input type="datetime-local" id="knitStartTime" name="knitStartTime">
                        </div>
                        <div>
                            <input type="datetime-local" id="knitEndTime" name="knitEndTime">
                        </div>
                    </div>
                    <div>
                        <button data-lang="schedulesave">[schedulesave]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="detailOrderModalKnit">
    <div>
        <h3 data-lang="warpknittingmachinedetail">[warpknittingmachinedetail]</h3>
    </div>
    <div class="inputTab fix">
        <div>
            <div class="line">
                <label for="knitName" data-lang="name">[name]</label>
                <div id="knitName"></div>
            </div>
            <div class="line">
                <label for="knitCompany" data-lang="company">[company]</label>
                <div id="knitCompany"></div>
            </div>
            <div class="line">
                <label for="knitInstallationTime" data-lang="installationtime">[installationtime]</label>
                <div id="knitInstallationTime"></div>
            </div>
            <div class="line">
                <label for="knitBeamCount" data-lang="beamcount">[beamcount]</label>
                <div id="knitBeamCount"></div>
            </div>
            <div class="line">
                <label for="knitEacEnable">eac_enable</label>
                <div id="knitEacEnable"></div>
            </div>
            <div class="line">
                <label for="knitLowmotorEnable">lowmotor_enable</label>
                <div id="knitLowmotorEnable"></div>
            </div>
        </div>
        <div>
            <div class="line margin_exempt">
                <label for="knitCode" data-lang="code">[code]</label>
                <div id="knitCode"></div>
            </div>
            <div class="line margin_exempt">
                <label for="knitUser" data-lang="pic">[pic]</label>
                <div id="knitUser"></div>
            </div>
            <div class="line">
                <label for="knitTempo" data-lang="tempo">[tempo]</label>
                <div id="knitTempo"></div>
            </div>
            <div class="line">
                <label for="knitBarCount" data-lang="barcount">[barcount]</label>
                <div id="knitBarCount"></div>
            </div>
            <div class="line">
                <label for="knitGauge" data-lang="gauge">[gauge]</label>
                <div id="knitGauge"></div>
            </div>
            <div class="line">
                <label for="knitIp">ip</label>
                <div id="knitIp"></div>
            </div>
        </div>
    </div>
    <div id="subModalBtnBox">
        <span onclick="closeModal()" data-lang="close">[close]</span>
    </div>
</div>
<div id="detailOrderModalWarp">
    <div>
        <h3 data-lang="warperdetail">[warperdetail]</h3>
    </div>
    <div class="inputTab fix">
        <div>
            <div class="line">
                <label for="warpName" data-lang="name">[name]</label>
                <div id="warpName"></div>
            </div>
            <div class="line">
                <label for="warpUser" data-lang="pic">[pic]</label>
                <div id="warpUser"></div>
            </div>
            <div class="line">
                <label for="warpInstallationTime" data-lang="installationtime">[installationtime]</label>
                <div id="warpInstallationTime"></div>
            </div>
        </div>
        <div>
            <div class="line margin_exempt">
                <label for="warpCode" data-lang="code">[code]</label>
                <div id="warpCode"></div>
            </div>
            <div class="line margin_exempt">
                <label for="warpCompany" data-lang="company">[company]</label>
                <div id="warpCompany"></div>
            </div>
            <div class="line">
                <label for="warpIp">ip</label>
                <div id="warpIp"></div>
            </div>
        </div>
    </div>
    <div id="subModalBtnBoxYarn">
        <span onclick="closeModal1()" data-lang="close">[close]</span>
    </div>
</div>
{% endblock content %}