{% extends "base/base.html" %}
{% load staticfiles %}

{% block staticfile %}
<link rel="stylesheet" href="{% static 'css/setting.css' %}">
<script type="text/javascript" src="{% static 'js/setting.js' %}"></script>
<script type="text/javascript">
lang_code = {{ userlang.lang_code }};
const lang = {
    ko:{
        password: "비밀번호", newpassword:"새 비밀번호", newpasswordck: "새 비밀번호 확인", username:"사용자 이름", useremail : "사용자 이메일",
        userprofile:"사용자 프로필", alramfunction:"알림 기능", language:"언어", hangle:"한글", english:"영어", companynameinput:"회사명 등록",
        companycode:"회사코드", companynum:"사업자 등록번호", companyadress:"회사 주소", machineactive:"기계 사용", active:"사용", inactive:"사용안함",
        accountinput:"거래처 등록", accountname:"거래처 상호", accountmanager:"거래처 담당자", accounttype:"거래처 업태", accountevent:"거래처 종목",
        accountnum:"거래처 사업자 등록번호", acccountadress:"거래처 주소", userlist:"가입 승인 및 유저 리스트", useractive:"사용 중", accept:"수락", save:"저장",
        order:"주문", design:"디자인",select:"선택해주세요", enrollment:"추가", modified:"수정", delete:"삭제", accountlist:"거래처 목록", close:"닫기",
        worker:"작업자", manager:"관리자", generalmanager:"총책임자", userinformation:"유저 상세보기", userlevel:"사용자 등급", usernumber:"사용자 번호"
    },
    en:{
        password: "password", newpassword:"new password", newpasswordck: "new password check", username:"user name", useremail : "Email",
        userprofile:"Profile ", alramfunction:"Alarm", language:"Language", hangle:"Korean", english:"English", companynameinput:"Company name",
        companycode:"Company code", companynum:"Number of trader's registration", companyadress:"Company address", machineactive:"Machine activated", active:"Activation",
        inactive:"Disabled", accountinput:"Account add", accountname:"Name", accountmanager:"Manager", accounttype:"Business", accountevent:"Type",
        accountnum:"Number of trader's registration", acccountadress:"Adress", userlist:"Subscription approval and user list", useractive:"in use", accept:"accept", save:"save",
        order:"Order", design:"Design",select:"Select", enrollment:"Add", modified:"Modify", delete:"Delete", accountlist:"Account list", close:"Close",
        worker:"PIC", manager:"Administrator", generalmanager:"General manager", userinformation:"User detail information", userlevel:"User level", usernumber:"User number"
    }
};
// 언어별 렌더링
function render(locale) {
    const $lang = document.querySelectorAll("[data-lang]");
    $lang.forEach(el => {
        const code = el.dataset.lang;
        el.textContent = lang[locale][code]
    })
};
if(lang_code==0){
    render("ko");
}
if(lang_code==1){
    render("en");
    $(".accountline4").css({marginTop:15.5});
}
    window.onload = function(){
        var aa='{{ jsonList }}';
        console.log(aa);
    };
    function setAddress() {
        var value = $('#bottomAddress').val().split(' ');

        if($('.newX'))
            $('.newX').remove();
        if($('.newY'))
            $('.newY').remove();

        var x = value[0];
        var y = value[1];

        console.log('x: ' + x + 'y: ' + y);

        $('#cif').append('<input class="newX" type="hidden" name="x" value="' + x + '">');
        $('#cif').append('<input class="newY" type="hidden" name="y" value="' + y + '">');
    }

    function changeAddress(type) {
        var code = '';
        if(type == 1)
            code = $('#topAddress').val();
        else if(type == 2)
            code = $('#midAddress').val();
        $.ajax({
            url:'/setting/getAddress',
            type: 'POST',
            cache:false,
            data:{
                type: type,
                code: code
            },
            dataType:'json',
            async: false,
            success: function(res){
                console.log(res);
                if(res.type == 1){
                    $('#midAddress > .new').remove();
                    res.addressList.forEach(function (addressObj) {
                        $('#midAddress').append('<option class="new" value="' +  addressObj.code + '">' + addressObj.value + '</option>');
                    });
                }else if(res.type == 2){
                    $('#bottomAddress > .new').remove();
                    res.addressList.forEach(function (addressObj) {
                        $('#bottomAddress').append('<option class="new" value="' +  addressObj.x + ' ' + addressObj.y + '">' + addressObj.value + '</option>');
                    });
                }
            },
        });
    }


</script>
{% endblock staticfile %}

{% block content %}
            <div id="settingContentWrap">
                <h3 id="settingHeadLine">User Settings</h3>
                <div id="settingWrap" class="fix">
                    <div>
                        <form action="/setting/changePassword" method="POST" name="cpf">{% csrf_token %}
                            <div class="line">
                                <p data-lang="password">[password]</p>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="line">
                                <p data-lang="newpassword">[newpassword]</p>
                                <input type="password" name="change_password" id="change_password">
                            </div>
                            <div class="line">
                                <p data-lang="newpasswordck">[newpasswordck]</p>
                                <input type="password" name="confirm_password" id="confirm_password">
                            </div>
                            <div class="line">
                                <button data-lang="save">[save]</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <form action="/setting/changeUserInfo" method="POST" name="uif" enctype="multipart/form-data">{% csrf_token %}
                            <div class="line">
                                <p data-lang="username">[username]</p>
                                <input type="text" value="{{ user.name }}" name="user_name" id="user_name">
                            </div>
                            <div class="line">
                                <p data-lang="useremail">[useremail]</p>
                                <input type="email" value="{{ user.email }}" name="user_email" id="user_email">
                            </div>
                            <div class="line">
                                <p data-lang="userprofile">[userprofile]</p>
                                {% if user.propic %}
                                    <div class="settingPropic"><img src="{{ user.propic.url }}"width="80px"></div>
                                {% else %}
                                    <div><img src="/static/image/ningen.png"width="80px"></div>
                                {% endif %}
                                <input type="file" name="user_propic" id="user_propic">
                            </div>
                            <div class="line">
                                <button data-lang="save">[save]</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        {% if user.level == 3 %}
                        <div class="line">
                            <p data-lang="alramfunction">[alramfunction]</p>
                            <div id="themeTap" class="fix">
                                <div>
                                    <div>
                                        <input type="checkbox" name="color_theme"><span data-lang="order">[order]</span>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <input type="checkbox" name="color_theme"><span data-lang="design">[design]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-btn" style="margin-top: 10px">
                                <span><button onclick="alramchange()" data-lang="save">[save]</button></span>
                            </div>
                        </div>
                        {% endif %}
                        <div class="line">
                            <div class="line">
                                <p data-lang="language">[language]</p>
                                <input type="radio" id="lang_theme" name="lang_theme" value="0"><span data-lang="hangle">[hangle]</span>
                                <input type="radio" id="lang_theme" name="lang_theme" value="1"><span data-lang="english">[english]</span>
                            </div>
                            <div class="line">
                               <button onclick="langchange()" data-lang="save">[save]</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if user.is_superuser %}
                <div id="companySettingWrap">
                    <h3 id="companyHeadLine">Company Settings</h3>
                    <div class="companyadd">
                        <form action="/setting/companyInfo" method="POST" name="cif" id="cif">{% csrf_token %}
                            <div class="line">
                                <p data-lang="companynameinput">[companynameinput]</p>
                                <input type="text" name="company" id="company" value="{{ company.name }}">
                            </div>
                            <div class="line">
                                <p data-lang="companycode">[commpanycode]</p>
                                <input type="text" name="company_code" id="company_code" value="{{ company.code }}">
                            </div>
                            <div class="line">
                                <p data-lang="companynum">[companynum]</p>
                                <input type="text" name="company_num" id="company_num" value="">
                            </div>
                            <div class="line">
                                <p data-lang="companyadress">[companyadress]</p>
                                <select id="topAddress" onchange="changeAddress(1)">
                                    <option data-lang="select">[select]</option>
                                    {% for addressObj in addressList %}
                                        <option value="{{ addressObj.code }}">{{ addressObj.value }}</option>
                                    {% endfor %}
                                </select>
                                <select id="midAddress" onchange="changeAddress(2)">
                                    <option data-lang="select">[select]</option>
                                </select>
                                <select id="bottomAddress" onchange="setAddress()">
                                    <option data-lang="select">[select]</option>
                                </select>
                            </div>
                            <div class="line">
                                <p data-lang="machineactive">[machineactive]</p>
                                <input type="radio" name="machineyn" value="1"><span class="machineUse" data-lang="active">[active]</span>
                                <input type="radio" name="machineyn" value="2"><span data-lang="inactive">inactive</span>
                            </div>
                            <div class="line">
                               <button data-lang="save">[save]</button>
                            </div>
                        </form>
                    </div>
                    <div>
                          <div class="accountArea1">
                        <form action="/setting/accountadd" method="POST" name="cif" id="cif">{% csrf_token %}
                                <p class="accountTitle1" data-lang="accountinput">[accountinput]</p>
                                <div class="accountline1">
                                    <input type="hidden" id="accountid" name="accountid">
                                    <p data-lang="accountname">[accountname]</p>
                                    <input type="text" autocomplete="off" name="accountname" id="accountname">
                                </div>
                                <div class="accountline2">
                                    <p data-lang="accountmanager">[accountmanager]</p>
                                    <input type="text" autocomplete="off" name="accountmanage" id="accountmanage">
                                </div>
                                <div class="accountline1">
                                    <p data-lang="accounttype">[accounttype]</p>
                                    <input type="text" autocomplete="off" name="accountwork" id="accountwork">
                                </div>
                                <div class="accountline2">
                                    <p data-lang="accountevent">[accountevent]</p>
                                    <input type="text" autocomplete="off" name="accounttype" id="accounttype">
                                </div>
                                <div class="accountline3">
                                    <p data-lang="accountnum">[accountnum]</p>
                                    <input type="text" autocomplete="off" name="accountnum" id="accountnum" maxlength="12">
                                </div>
                                <div class="accountline4">
                                    <p data-lang="acccountadress">[acccountadress]</p>
                                    <input type="text" autocomplete="off" name="accountaddress" id="accountaddress">
                                </div>
                                <button type="submit" data-lang="enrollment">[enrollment]</button>
                                </form>
                                   <button onclick="accountmodi()" class="edit_btn" data-lang="modified">[modified]</button>
                                   <button onclick="accountdel()" class="del_btn" data-lang="delete">[delete]</button>
                            </div>
                        <div class="accountArea2">
                            <p data-lang="accountlist">[accountlist]</p>
                            <select id="departmentList" size="10">
                                {% for account in accountlist %}
                                    <option value="{{ account.id }}" onclick="accountselect({{ account.id }})">{{ account.accountname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="userLine">
                            <p data-lang="userlist">[userlist]</p>

                            <!-- User List -->
                            <div id="userListWrap">
                                {% for userInfo in userList %}
                                <div class="userList fix" ondblclick="userdetail({{ userInfo.id }})">
                                    <div class="propicBox">
                                        {% if userInfo.propic %}
                                        <img src="{{ userInfo.propic.url }}" width="100px">
                                        {% else %}
                                        <img src="{% static 'image/ningen.png' %}" width="100px">
                                        {% endif %}
                                    </div>
                                    <div class="userInfo">
                                        <h3>{{ userInfo.name }}({{ userInfo.username }})</h3>
                                        <div class="uLine">
                                            <span>E-mail</span>
                                            <span>{{ userInfo.email }}</span>
                                        </div>
                                        <div class="uLine">
                                            <span>Sign up Date</span>
                                            <span>{{ userInfo.create_date|date:"Y-m-d" }}</span>
                                        </div>
                                        <div class="uLine">
                                            <span>Phone</span>
                                            <span>{{ userInfo.phone }}</span>
                                        </div>
                                        <div class="uLine">
                                            <span>Rating</span>
                                            {% if userInfo.level == 1 %}
                                                <span data-lang="worker">[worker]</span>
                                            {% endif %}
                                            {% if userInfo.level == 2 %}
                                                <span data-lang="manager">[manager]</span>
                                            {% endif %}
                                            {% if userInfo.level == 3 %}
                                                <span data-lang="generalmanager">[generalmanager]</span>
                                            {% endif %}
                                        </div>
                                        <div class="uLine">
                                            {% if userInfo.is_active == True %}
                                            <span class="userState" data-lang="useractive">[useractive]</span>
                                            {% else %}
                                            <span class="uerState stateBtn" onclick="activeUser({{ userInfo.id }})" data-lang="accept">[accept]</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <!-- Usre End -->
                        </div>
                    </div>
                </div>
                {% endif %}
            <form action="/order/modify" method="POST" name="modifyOrderForm" id="modifyOrderForm">{% csrf_token %}
            <div id="detailOrderModal">
                <div>
                    <h3>오더 상세보기</h3>
                </div>
                <div class="inputTab fix">
                    <div>
                        <div class="line">
                            <label for="detailCompany">사업장</label>
                            <input type="text" disabled id="detailCompany" name="detailCompany">
                        </div>
                        <div class="line">
                            <label for="detailBuyer">거래처</label>
                            <input type="text" id="detailBuyer" name="detailBuyer">
                        </div>
                        <div class="line">
                            <label for="detailManager">담당자</label>
                            <input type="text" id="detailManager" name="detailManager">
                        </div>
                        <div class="line">
                            <label for="detailOrderDate">오더일자</label>
                            <input type="date" id="detailOrderDate" name="detailOrderDate">
                        </div>

                    </div>
                    <div>
                        <div class="line margin_exempt">
                            <label for="detailOrderType">오더구분</label>
                            <select name="detailOrderType" id="detailOrderType" class="justselect2">
                            </select>
                        </div>
                        <div class="line margin_exempt">
                            <label for="detailOrderInout">내외구분</label>
                            <select name="detailOrderInout" id="detailOrderInout" class="justselect2">

                            </select>
                        </div>
                        <div class="line">
                            <label for="detailRound">차수</label>
                            <input type="text" id="detailRound" name="detailRound">
                        </div>
                        <div class="line">
                            <label for="detailDueDate">납기일</label>
                            <input type="date" id="detailDueDate" name="detailDueDate">
                        </div>
                    </div>
                    <div class="orderDesignDetail">
                        <div class="fix">
                            <div id="subDesignImgBox">
                                <label class="subLabel">시뮬레이션 이미지</label>
                                <span><img src="{% static 'image/simulation_img.jpg' %}" width="200px"></span>
                            </div>
                            <div id="subDesignInfo">
                                <div id="subOrderWrap" class="subLine">
                                    <label class="subLabel" for="subOrderCode">서브오더</label>
                                    <select name='subOrderCode' id='subOrderCode' class='justselect2'>
                                    </select>
                                </div>
                                <div class="subLine">
                                    <label class="subLabel" for="subDesign">디자인명</label>
                                    <input type="text" disabled id="subDesign" name="subDesign">
                                </div>
                                <div class="subLine lastSubLine">
                                    <label for="subDesignQty" class="subLabel">수량</label>
                                    <input type="text" id="subDesignQty" name="subDesignQty">
                                </div>
                                <input type="hidden" id="oid" name="oid">
                            </div>
                            <div id="subModalBtnBox">
                                <span onclick="modifyOrder()">저장</span>
                                <span onclick="deleteOrder()">삭제</span>
                                <span onclick="closeModal()">닫기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <form>
                <div id="userdetail">
                    <div class="detailusertop">
                        <h3 data-lang="userinformation">[userinformation]</h3>
                    </div>
                    <div class="User_wrapper1">
                        <div id="userimg">

                            <img src="{% static 'image/ningen.png' %}" width="120px">
                            <div id="userdid" name="userdid"></div>
                         </div>
                    </div>
                    <div class="User_wrapper2">
                        <div class="line">
                            <div for="userdlevel" data-lang="userlevel">[userlevel]</div>
                            <select name="userdlevel" id="userdlevel" class="userdlevelsel">

                            </select>
                        </div>
                        <div class="line">
                            <div for="userdphone" data-lang="usernumber">[usernumber]</div>
                            <input type="text" id="userdphone" name="userdphone">
                        </div>
                        <div class="line">
                            <div for="userdemail" data-lang="useremail">[useremail]</div>
                            <input type="text" id="userdemail" name="userdemail">
                            <input type="hidden" id="userids" name="userids">
                        </div>
                    </div>
                    <div class="userdetailmodalcon">
                        <div>
                            <span onclick="usermodelclose()" data-lang="close">[close]</span>
                            <span onclick="userdelete()" data-lang="delete">[delete]</span>
                            <span onclick="usermodelupdate()" data-lang="modified">[modified]</span>
                        </div>
                    </div>
                </div>
            </form>
            </div>
{% endblock content %}