<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knit Total System</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/dytec_send' %}"></script>
</head>
<body>
<div id="loginWrap">
    <div id="loginBox">
        <h1>Knit Total System</h1>
        <div id="loginTab">
            <form action="/signup" method="POST" name="signUpForm" id="signUpForm">
            <div id="loginInputBox">
                {% csrf_token %}
                    {{ form.as_p }}
                <div class="loginBtn">
                    <input id="signupBtn" type="submit" value="Sign Up">
                </div>
            </div>
            </form>
            <div class="rightDeco">
                <div class="decorationLBar"></div>
                <div class="decorationSBar"></div>
            </div>
            <div class="leftDeco">
                <div class="decorationLBar"></div>
                <div class="decorationSBar"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>